:host {
  display: block;
  padding: 24px;
}

.grid {
  padding: 14px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
mat-card {
  text-align: center;
}

dt {
  float: left;
  clear: both;
  width: 100px;
}
