<div class="grid">
  <mat-card>
    <mat-card-title>長澤まさみ</mat-card-title>
    <img mat-card-image src="assets/images/nagasawa.jpg" />
    <mat-card-content>
      <p>誕生日</p>
      <p>ニックネーム</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>詳細</button>
      <button mat-button>編集</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>最上もが</mat-card-title>
    <img mat-card-image src="assets/images/mogami.jpg" />
    <mat-card-content>
      <p>誕生日</p>
      <p>ニックネーム</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>詳細</button>
      <button mat-button>編集</button>
    </mat-card-actions>
  </mat-card>
</div>
