:host {
  display: block;
  padding: 24px;
}

.grid {
  padding: 14px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
mat-card {
  text-align: center;
}

span {
  padding-left: 8px;
  margin: 4px;
  line-height: 1;
  width: 100%;
}

.content {
  max-width: 180px;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
