<p>友達リスト</p>
<div class="grid">
  <mat-card *ngFor="let friend of friends$ | async">
    <button
      mat-flat-button
      [routerLink]="['/user-detail']"
      [queryParams]="{ id: friend.id }"
    >
      詳細
    </button>
    <mat-card-title>{{ friend.nickName }}</mat-card-title>
    <div class="avatar">
      <ng-container *ngIf="friend; else default">
        <img [src]="friend.friendPhotoURL" />
      </ng-container>

      <ng-template #default>
        <img
          class="profile__avatar"
          src="/assets/images/person.png"
          alt="顔写真"
        />
      </ng-template>
    </div>
    <div class="content">
      <span>お休み</span>
      <p>{{ friend.holiday || '--------' }}</p>
    </div>
  </mat-card>
</div>
