<p>友達リスト</p>
<mat-tab-group>
  <mat-tab label="彼女">
    <div class="grid">
      <a
        class="friend"
        *ngFor="let friend of target$ | async"
        [routerLink]="['/user-list']"
        [queryParams]="{ id: friend.id }"
      >
        <mat-card>
          <mat-card-title>{{
            friend.familyName + friend.givenName
          }}</mat-card-title>
          <img mat-card-image src="https://placehold.it/400x200" alt="" />
          <mat-card-content>
            <dl>
              <dt>ニックネーム</dt>
              <dd>{{ friend.nickName }}</dd>
              <dt>歳</dt>
              <dd>{{ friend.age }}</dd>
              <dt>仕事</dt>
              <dd>{{ friend.job }}</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </mat-tab>
  <mat-tab label="Tinder"> Content 2 </mat-tab>
  <mat-tab label="友達"> Content 3 </mat-tab>
</mat-tab-group>
