:host {
  display: block;
  padding: 24px;
}

.grid {
  padding: 14px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
mat-card {
  text-align: center;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 12px;
  list-style: none;
}

span {
  padding-left: 8px;
  margin: 4px;
  line-height: 1;
}
