<mat-toolbar class="header">
  <a mat-button routerLink="/">デアカン</a>
  <div class="search">
    <input class="search__input" type="text" autocomplete="off" />
    <mat-icon class="search__icon">search</mat-icon>
  </div>
  <div class="tools">
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <button mat-button routerLink="">友達一覧</button>
      <button
        [style.background-image]="'url(' + user.avatarURL + ')'"
        mat-icon-button
        class="avatar"
        [matMenuTriggerFor]="menu"
      ></button>
    </ng-container>

    <mat-menu #menu="matMenu">
      <ng-template #loginButton>
        <button (click)="login()" mat-menu-item>
          <span>ログイン</span>
        </button>
      </ng-template>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>assignment_return</mat-icon>
        <span>ログアウト</span>
      </button>
      <button [routerLink]="['/create']" mat-menu-item>
        <mat-icon>add_to_photos</mat-icon>
        <span>新規追加</span>
      </button>
      <button mat-menu-item>
        <mat-icon>build</mat-icon>
        <span>設定</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
