<mat-toolbar class="header">
  <a mat-button routerLink="/">デアカン</a>
  <div class="search">
    <input class="search__input" type="text" autocomplete="off" />
    <mat-icon class="search__icon">search</mat-icon>
  </div>
  <div class="tools">
    <button mat-button [matMenuTriggerFor]="menu">リスト管理</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>新規追加</button>
      <button mat-menu-item>Lorem.</button>
    </mat-menu>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
