<mat-toolbar class="header">
  <a mat-button routerLink="/">デアカン</a>
  <div class="search">
    <input class="search__input" type="text" autocomplete="off" />
    <mat-icon class="search__icon">search</mat-icon>
  </div>
  <div class="tools">
    <button mat-button [matMenuTriggerFor]="menu">リスト管理</button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="login()" mat-menu-item>
        <mat-icon>assignment_ind</mat-icon>
        <span>ログイン</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>assignment_return</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>build</mat-icon>
        <span>設定</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
