<div class="container">
  <div class="content">
    <h1>利用規約</h1>
    <h2>1. お客様の承認</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      aspernatur non eos voluptas maiores quam delectus dicta, ab est quidem
      voluptates perspiciatis culpa veniam cupiditate magnam sed eligendi, autem
      dolores.
    </p>
    <h2>2. 本サービス</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, numquam
      exercitationem, temporibus earum molestias hic voluptatibus eligendi
      tenetur animi magni fugit atque sapiente, aut nostrum laudantium
      perspiciatis quod iste nihil.
    </p>
    <h2>3. デアカンアカウント</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est,
      dolorem porro laborum temporibus quaerat, ut aut provident delectus dolore
      voluptates tenetur blanditiis repellendus ad, id ab nobis debitis. Ullam.
    </p>
    <h2>4. 本サービスの一般的な利用--許可及び制限事項</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      eligendi exercitationem at? Doloribus esse ab voluptatem perspiciatis
      praesentium accusamus fugit dolorum ex! Labore odit impedit consectetur in
      exercitationem ipsa. Nesciunt!
    </p>
  </div>
</div>
