rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if true;
      match /friends/{Id} {
        allow read, write: if true;
      }
    }
  }
}
