<section class="hero">
  <div class="hero__inner"></div>
  <h1 class="hero__title">デアカン</h1>
  <h2 class="hero__title">
    デアカンの使命は、運命の出会いを管理し、人生をハッピーにすることです。
  </h2>
  <button class="hero__sign-up">新規登録</button>
  <p class="hero__mission">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur deleniti
    explicabo voluptate enim numquam voluptas reiciendis quae? Atque quisquam
    nemo architecto quaerat reprehenderit sapiente, eveniet nostrum. Tenetur
    itaque dignissimos similique.
  </p>
</section>
