<div class="container">
  <div class="hero">
    <h1>デアカン</h1>
    <h2>
      デアカンの使命は、運命の出会いを管理し、人生をハッピーにすることです。
    </h2>
    <button mat-raised-button>出会いを管理する</button>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia tempora
      quod laboriosam. Voluptate nisi est optio pariatur laborum provident
      voluptatibus. Ex quae, soluta natus tempora sed voluptate quos repellendus
      maxime?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo deserunt
      aspernatur temporibus sed tempora sit quae sapiente molestiae? Molestias
      sit et sequi, fugiat error deserunt. Ipsam mollitia cumque neque
      excepturi.
    </p>
  </div>
</div>
