<div class="container">
  <div class="content">
    <h1>プライバシーポリシー</h1>
    <h2>はじめに</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      aspernatur non eos voluptas maiores quam delectus dicta, ab est quidem
      voluptates perspiciatis culpa veniam cupiditate magnam sed eligendi, autem
      dolores.
    </p>
    <h2>個人情報の共有ならびに利用制限について</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, numquam
      exercitationem, temporibus earum molestias hic voluptatibus eligendi
      tenetur animi magni fugit atque sapiente, aut nostrum laudantium
      perspiciatis quod iste nihil.
    </p>
    <h2>個人情報の安全管理について</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae est,
      dolorem porro laborum temporibus quaerat, ut aut provident delectus dolore
      voluptates tenetur blanditiis repellendus ad, id ab nobis debitis. Ullam.
    </p>
    <h2>個人情報の開示、訂正、削除について</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      eligendi exercitationem at? Doloribus esse ab voluptatem perspiciatis
      praesentium accusamus fugit dolorum ex! Labore odit impedit consectetur in
      exercitationem ipsa. Nesciunt!
    </p>
  </div>
</div>
