<div class="container">
  <mat-card *ngFor="let userDetail of usersDetail">
    <div class="user-detail">
      <mat-card-title>{{ userDetail.name }}</mat-card-title>
      <img mat-card-image src="https://placehold.it/400x200" alt="" />
      <mat-card-content>
        <dl>
          <dt>ニックネーム</dt>
          <dd>{{ userDetail.nickName }}</dd>
          <dt>生年月日</dt>
          <dd>{{ userDetail.birthday }}</dd>
          <dt>歳</dt>
          <dd>{{ userDetail.age }}</dd>
          <dt>仕事</dt>
          <dd>{{ userDetail.job }}</dd>
          <dt>休日</dt>
          <dd>{{ userDetail.holiday }}</dd>
          <dt>知り合った経緯</dt>
          <dd>{{ userDetail.history }}</dd>
          <dt>出身地</dt>
          <dd>{{ userDetail.birthplace }}</dd>
          <dt>最寄り駅</dt>
          <dd>{{ userDetail.nearestStation }}</dd>
          <dt>趣味</dt>
          <dd>{{ userDetail.hobby }}</dd>
        </dl>
      </mat-card-content>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>MEMO</mat-label>
      <textarea
        [formControl]="commentForm"
        matTextareaAutosize
        #textarea
        matInput
      ></textarea>
      <mat-icon matSuffix>save</mat-icon>
      <mat-error *ngIf="commentForm.hasError('maxlength')"
        >最大文字を超えています</mat-error
      >
      <mat-hint align="end">{{ textarea.value.length }} / 400</mat-hint>
    </mat-form-field>
  </mat-card>
</div>
