:host {
  display: block;
  padding: 24px;
}
.container {
  text-align: center;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

.user-detail__avatar {
  background-size: cover;
  height: 400px;
  width: 400px;
}

.user-detail__content {
  padding: 16px;
  margin: 0 auto;
}
dt {
  float: left;
  clear: both;
  width: 100px;
}

mat-form-field {
  width: 100%;
}

.basic-information {
  border-bottom: 2px solid;
}
