:host {
  display: block;
  padding: 8px;
}
.container {
  text-align: center;
  max-width: 1032px;
  margin: 0 auto;
}
.profile {
  &__title {
    border-bottom: 1px inset #ddd;
    text-align: center;
  }
  &__button {
    text-align: right;
  }
}
h2 {
  font-weight: 500;
}
mat-form-field {
  width: 100%;
  margin: 4px;
}

mat-card {
  padding: 8px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: scale-down;
  margin-bottom: 40px;
}

.form__user {
  display: flex;
}

.radio-group {
  margin-bottom: 16px;
  &__item {
    margin-right: 24px;
  }
}

button {
  margin-left: 16px;
}
