<div class="container">
  <mat-card>
    <div class="profile">
      <h2 class="profile__title">基本情報</h2>
      <div class="profile__button">
        <ng-container *ngIf="friendId">
          <div class="form-footer">
            <button mat-flat-button (click)="friendDeleteDialog()">
              <span>削除</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>姓</mat-label>
            <input
              formControlName="familyName"
              placeholder="山田"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="familyName.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>名</mat-label>
            <input
              formControlName="givenName"
              placeholder="太郎"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="givenName.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>姓（ヨミガナ）</mat-label>
            <input
              formControlName="familyNameKana"
              placeholder="ヤマダ"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="familyNameKana.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>名（ヨミガナ）</mat-label>
            <input
              formControlName="givenNameKana"
              placeholder="タロウ"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="givenNameKana.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>
        </div>

        <figure class="avatar"></figure>
        <div></div>
        <input type="file" />

        <mat-form-field appearance="outline">
          <mat-label>ニックネーム</mat-label>
          <input
            formControlName="nickName"
            placeholder="やまちゃん"
            type="text"
            matInput
            autocomplete="off"
            required
            maxlength
          />
          <mat-error *ngIf="nickName.hasError('required')"
            >必須入力です。</mat-error
          >
          <mat-error *ngIf="nickName.hasError('maxlength')"
            >最大20文字です。</mat-error
          >
        </mat-form-field>

        <mat-accordion>
          <mat-form-field appearance="outline">
            <mat-label>年齢</mat-label>
            <input formControlName="age" matInput type="number" min="1" />
          </mat-form-field>
        </mat-accordion>

        <mat-radio-group formControlName="gender" class="radio-group">
          <mat-radio-button type="button" class="radio-group__item" value="male"
            >男性</mat-radio-button
          >
          <mat-radio-button
            type="button"
            class="radio-group__item"
            value="female"
            >女性</mat-radio-button
          >
        </mat-radio-group>

        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>職業</mat-label>
            <input
              formControlName="job"
              placeholder="job"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="job.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>休み</mat-label>
            <input
              formControlName="holiday"
              placeholder="休み"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="holiday.hasError('maxlength')"
              >最大30文字です。</mat-error
            >
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>知り合った経緯</mat-label>
          <textarea
            type="text"
            #textarea
            matInput
            formControlName="history"
            autocomplete="off"
            matTextareaAutosize
            [matAutosizeMinRows]="3"
            [matAutosizeMaxRows]="14"
          ></textarea>
          <mat-error *ngIf="history.hasError('maxlength')"
            >最大400文字です。</mat-error
          >
          <mat-hint align="end">{{ history.value.length }} / 400</mat-hint>
        </mat-form-field>

        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>出身地</mat-label>
            <input
              formControlName="birthplace"
              placeholder="東京都"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="birthplace.hasError('maxlength')"
              >長過ぎます。</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>最寄り駅</mat-label>
            <input
              formControlName="nearestStation"
              placeholder="東京駅"
              type="text"
              matInput
              autocomplete="off"
            />
            <mat-error *ngIf="nearestStation.hasError('maxlength')"
              >長過ぎます。</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>趣味</mat-label>
            <input
              formControlName="hobby"
              placeholder="ランニング"
              matInput
              type="text"
              autocomplete="off"
            />
            <mat-error *ngIf="hobby.hasError('maxlength')"
              >長過ぎます。</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>最後に会った日</mat-label>
            <input
              formControlName="lastday"
              matInput
              [matDatepicker]="picker"
              placeholder="最後に会った日"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form__user">
          <mat-form-field appearance="outline">
            <mat-label>メモ</mat-label>
            <textarea
              matInput
              #textarea
              formControlName="memo"
              type="text"
              matTextareaAutosize
              [matAutosizeMinRows]="3"
              [matAutosizeMaxRows]="14"
            ></textarea>
            <mat-error *ngIf="memo.hasError('maxlength')"
              >最大400文字です。</mat-error
            >
            <mat-hint align="end">{{ memo.value.length }} / 400</mat-hint>
          </mat-form-field>
        </div>

        <div class="form__button">
          <button type="button" routerLink="/" mat-flat-button>
            キャンセル
          </button>
          <button
            [disabled]="form.invalid || form.pristine"
            mat-flat-button
            color="primary"
          >
            保存
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
