<div class="container">
  <mat-card *ngIf="target$ | async as friend">
    <div class="profile">
      <h2 class="profile__title">{{ friend.nickName }}</h2>
      <div class="profile__button">
        <p>
          作成日
          {{ friend.createdAt.toDate() | date: 'yyyy年MM月dd日' }}
        </p>
        <div>
          <button
            mat-flat-button
            [routerLink]="['/edit']"
            [queryParams]="{ id: friend.id }"
          >
            <span>編集</span>
          </button>
        </div>
      </div>
      <div *ngIf="friend.friendPhotURL; else default"></div>
      <ng-template #default>
        <div class="profile__user">
          <img
            class="profile__avatar"
            src="/assets/images/人物の無料素材.png"
            alt="顔写真"
          />
        </div>
      </ng-template>
      <div class="profile__body">
        <ul class="profile__list">
          <li>
            <h4>姓</h4>
            <p>{{ friend.familyName || '--------' }}</p>
          </li>
          <li>
            <h4>姓(カナ)</h4>
            <p>{{ friend.familyNameKana || '--------' }}</p>
          </li>
          <li>
            <h4>名</h4>
            <p>{{ friend.givenName || '--------' }}</p>
          </li>
          <li>
            <h4>名(カナ)</h4>
            <p>{{ friend.givenNameKana || '--------' }}</p>
          </li>
          <li>
            <h4>性別</h4>
            <p>{{ friend.gender || '--------' }}</p>
          </li>
          <li>
            <h4>歳</h4>
            <p>{{ friend.age || '--------' }}歳</p>
          </li>
          <li>
            <h4>職業</h4>
            <p>{{ friend.job || '--------' }}</p>
          </li>
          <li>
            <h4>お休み</h4>
            <p>{{ friend.holiday || '--------' }}</p>
          </li>
          <li>
            <h4>最寄り駅</h4>
            <p>{{ friend.nearestStation || '--------' }}</p>
          </li>
          <li>
            <h4>最後に会った日</h4>
            <p>
              {{ friend?.lastday?.toDate() | date: 'yyyy年MM月dd日' }}
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <h4>趣味</h4>
            <p>{{ friend.hobby || '--------' }}</p>
          </li>
        </ul>
        <div class="profile__history">
          <ul>
            <li>
              <h4>知り合った経緯</h4>
              <p>{{ friend.history || '--------' }}</p>
            </li>
          </ul>
          <div class="profile__memo">
            <ul>
              <li>
                <h4>メモ</h4>
                <p>{{ friend.memo || '--------' }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
